{% extends "layout_bsa.html" %}

{% block page_title %}
  View an NHS prescription<br>prepayment
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="text">
      
        <div class="heading-group">
          <h1 class="heading-xlarge">Check if you get free prescriptions</h1>
        </div>
    </div>

      <div class="text">
        <p>
         You can use this service to:
        </p>
                        
        <ul class="list list-bullet">
          <li>Check if you pay for NHS prescriptions </li>
          <li>print or download your details</li>
        </ul>

<br> 
         <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    This checker only gives you a result for today.
  </strong>
</div>


        <h2 class="heading-medium">Who can't use this service yet</h2>
        <p>If you don't pay NHS costs because you get qualifying benefits, you can't use this service yet.</p>
        <p>Continue to show your latest benefit letter or award notice as proof of your entitlement to your pharmacist.</p>

              
      </div>

      <br>
      
        <p class="button-group">
          <a class="button button-get-started" href="return_date" id="next">
            Start now
          </a>
        </p>

<!--
        <h3 class="heading-medium">Before you start</h3>
          <p>
            It takes about 5 minutes to complete our form. You need your bank sort code and account number for Direct Debit payments. For card payments you will need your credit or debit card details.
          </p>        
-->
          
<!--
      <p>
        You will be asked if you know your NHS number. It's optional to provide this. Not having it to hand will not affect your ability to buy.
      </p>
-->

<!--
        <h3 class="heading-medium">Existing prepayments</h3>
        
        <p>If you already have prepaid you can <a class="" href="dob?renew=true" id="next">view, print or change the details</a>.</p>        
-->
                 
      </div>
      
    </div>
      

  
</main>

{% endblock %}
