{% extends "layout_bsa.html" %}
 

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Something’s gone wrong</h1>
      <p class="text">
      You can’t use this service just now. The problem will be fixed as soon as
      possible.
      </p>
      <p class="text">
      You can try again later or <a href="#">check what help you could get to pay NHS costs.
      </p>

    </div>
    </div>
</main>

{% endblock %}
