{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<style>
.example {
  position: relative;
  overflow: hidden;
background-color: #F8F8F8;
margin-right: 2%;
border: 10px solid #dee0e2;
  margin-bottom: 0.78947em;
  margin-top: 15px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px; }
  .info-table {
  span {
    float: right;
    width: 60%;
  }
}

.done-panel h1 {
    padding-top: 10px;
    margin: 0;}

    .done-panel h2 {
    line-height: 145%;

    padding-top: 0;
    margin: 10px 0 5px 0;
}
.callout--attention {
    border: 8px solid #0072ce;
}
.callout {
    padding:1em;
    margin-top: 1.5em;
}

</style>

  <main id="content" role="main">

    <div class="grid-row">
      <div class="column-two-thirds">


      <div class="done-panel">

        <h1 class="heading-xlarge"><span id="done-tick"> </span>You have an exemption</h1>
    <!--     <h2 class="heading-large">You currently have an exemption</h2> -->

      </div>
   <!--    
        <h1 class="heading-xlarge"><span class="heading-secondary">Check if you have to pay for prescriptions</span>You currently have an exemption</h1>
 -->

    <div class="example">
          <h2 class="bold-large">You get free NHS prescriptions</h2>
          <br>
        <div class="info-table">
        <p>Exempt from paying: <span class="strong">Prescriptions</span></p>
              <p>Name: <span class="strong">Jane Doe</span></p>
              <p>Date of birth: <span class="strong">04 September 1980</span></p>
              <p>Expiry date: <span class="strong">06 November 2017</span></p>
              <p>Today's date: <span class="strong">17 October 2017</span></p>
              <div class="notice" style="margin: 1.5em 0em 1.5em 0em; ">
              <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i>
              <strong class="bold-small">
                This result can only be used as proof today.
              </strong>
            </div>

        </div>
    </div>

    <h2 class="heading-large">Collecting prescriptions</h2>
    <p>Don't worry if you've lost your exemption card or certificate, you can show this as proof today that you get free NHS prescriptions.</p>
<!--     <p>You can show this to pharmacy staff as proof you get free NHS prescriptions.</p> -->
<!--     <p>
    Show this to pharmacy staff as proof you get free NHS prescriptions. They will not charge you.</p>

<p>If you've lost your exemption card or certificate, you don't need a replacement and can return to this service at any time.</p> -->
<h2 class="heading-medium">Get a copy</h2>

        <ul class="options-list">
          <li><a class="icon print-icon" href="javascript:window.print();">Print this</a></li>
          <li><a class="icon download-icon" href="../public/images/bsa/cert.pdf" target="_blank">Save this (PDF 55k)</a></li>
        </ul>
        <!-- <section class="callout callout--attention">

    <p class="heading-small">This result can only be used today</p>

  </section> -->

        
        <hr>
        <h2 class="heading-large">Help to pay other NHS costs</h2>
        
          <p>Answer a few more questions to check if you could get <a href="">help to pay other NHS costs</a>.
        </p>


        <a href="return_date" class="link-back">Check again</a>
            </div>
                    </div>

  </main>


{% endblock %}