{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="text">
      
        <div class="heading-group">
          <p>View an exemption from paying NHS costs</p>
          <h1 class="heading-xlarge">You currently have an exemption</h1>
        </div>

         <h2 class="heading-medium">You get free:</h2>


          <table class="data-table assets-summary">
            <tr>
              <td>Prescriptons</td>
              <td>Until <span class="bold">03 July 2017</span></td>
            </tr>
                        <tr>
              <td>Dental check-ups and treatment</td>
              <td>Until <span class="bold">03 July 2017</span></td>
            </tr>
                        
          </table>
          <br><br>
<!-- <h2 class="heading-medium">Keep a copy</h2> -->
        <ul class="options-list">
          <li><a class="icon print-icon" href="javascript:window.print();">Print this</a></li>
          <li><a class="icon download-icon" href="../public/images/bsa/cert.pdf" target="_blank">Download this (PDF 55k)</a></li>
        </ul>
        
        <!-- <hr>
        <h2 class="heading-medium">Find out if you could get further help</h2>
        
        <p>
          There are several ways to get 
        </p>
        
        <p>
          <a href="">Check for help paying other NHS costs </a>
        </p> -->
        
      </div>
      
    </div>
    
  </div>
  
</main>

{% endblock %}