{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="text">
      
        <div class="heading-group">
          <p>View an exemption from paying NHS costs</p>
          <h1 class="heading-xlarge">You don't have a valid exemption</h1>
        </div>

         <!-- <h2 class="heading-medium">You get free:</h2> -->



            <div class="panel panel-border-wide">
                <p>blah blah needs work</p>
            </div>
            
<h2 class="heading-medium">Could you be entitled to help?</h2>
    <p>Check if you could be entitled to <a href="">help paying your NHS costs</a> </p>

        
        
      </div>
      
    </div>
    
  </div>
  
</main>

{% endblock %}