{% extends "layout_bsa.html" %}

{% block page_title %}
Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<style>
    .example {
        position: relative;
        overflow: hidden;
        background-color: #F8F8F8;
        margin-right: 2%;
        border: 10px solid #dee0e2;
        margin-bottom: 0.78947em;
        margin-top: 15px;
        padding-top: 30px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    }

    .info-table {
        span {
            float: right;
            width: 60%;
        }
    }

    .done-panel h1 {
        padding-top: 10px;
        margin: 0;
    }

    .done-panel h2 {
        line-height: 145%;
        padding-top: 0;
        margin-top: 0.8em;
    }

    .callout--attention {
        border: 8px solid #0072ce;
    }

    .callout {
        padding: 1em;
        margin-top: 1.5em;
    }

    .app-c-subscribe {
        font-family: "nta", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 20px;
        padding-top: 15px
    }

    @media print {
        .app-c-subscribe {
            font-family: sans-serif
        }
    }

    @media (min-width: 40.0625em) {
        .app-c-subscribe {
            font-size: 19px;
            line-height: 1.3157894737
        }
    }

    @media print {
        .app-c-subscribe {
            font-size: 14pt;
            line-height: 1.15
        }
    }

    @media (min-width: 40.0625em) {
        .app-c-subscribe {
            margin-bottom: 30px
        }
    }

    .app-c-subscribe__link {
        line-height: 1.25;
        display: block;
        background: url(https://assets.publishing.service.gov.uk/calendars/icon-calendar-3229a501be529bba31de554d9bdfd186b658036f5d831d2a74ce26b8d169715e.png) no-repeat scroll 0 0;
        min-height: 2.5em;
        padding: 0 0 0 2.2em
    }

    @media print {
        .app-c-subscribe__link {
            font-family: sans-serif
        }
    }

    @media (min-width: 40.0625em) {
        .app-c-subscribe__link {
            font-size: 19px;
            line-height: 1.3157894737
        }
    }

    @media print {
        .app-c-subscribe__link {
            font-size: 14pt;
            line-height: 1.15
        }
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 20 / 10),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
        .app-c-subscribe__link {
            background-image: url(https://assets.publishing.service.gov.uk/calendars/icon-calendar-2x-ce3cab0b3d26d007e90deb7b7843fd893a68d5a9d61279d91cc517b81ec99fd6.png);
            background-size: 29px 24px
        }
    }
    .blue-box {

    position: relative;
    overflow: hidden;
    margin-right: 2%;
    border: 8px solid #005EB8;
    margin-bottom: 0.78947em;
    margin-top: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
        padding: 20px 7px 20px 7px;
    }
    .mobile-icon {
    background-image: url("/public/images/bsa/mobile.svg");
    padding-left: 37px;
        margin-left: 3px;}
</style>

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div class="phase-banner">
                <p>
                    <strong class="phase-tag">BETA</strong>
                    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="done-panel">
                <span class="heading-large">Your NHS exemption certificate has expired</nobr> </span>
                <h2 class="heading-medium" style="">Expired 9 July 2019</h2>
            </div>

            <!--
                            <div class="example">
                    <h2 class="bold-large">Your NHS Prescription Prepayment Certificate</h2>
                    <br>
                    <div class="info-table">
                        <p>Exempt from paying: <span class="strong">Prescriptions</span></p>
                        <p>Prepayment for: <span class="strong">Jane Doe</span></p>
                        <p>Prepayment number: <span class="strong">869 467 589</span></p>
                        <p>Started on: <span class="strong">9 July 2019</span></p>
                        <p>Ends on: <span class="strong">18 December 2017</span></p>
                    </div>
                </div>
-->

            
<!--
            <div id="runout" class="blue-box">
                <span class="visually-hidden">Warning</span>
                <strong class="bold-small">
                    Your NHS prescription prepayment has run out. <a href="../ppc/duration">Buy it again</a>.
                </strong>
            </div>
-->

            <h2 class="heading-medium">Could you get help to pay NHS costs?</h2>

            <p>You could get help to pay for other NHS costs based on your circumstances. </p>
            <p>Answer a few more questions to check if you could get <a href="">help to pay other NHS costs</a>.
            </p>
            <br>

            <p class="button-group">
                <a class="button" href="/">
                    Finished
                </a>
            </p>
            <a href="return_date" class="link-back">Check again</a>
        </div>
    </div>
</main>


{% endblock %}