{% extends "layout_bsa.html" %}

{% block page_title %}
  Help paying for NHS Costs prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          <span class="heading-secondary">Prototype</span>
          View your exemption from paying NHS costs
        </h1>

        <ul>
          <li><a href="/return/return_start">Journey iteration 1</a></li>
        </ul>

        <hr>

        <h2 class="heading-medium">All pages</h2>

        <ol class="list list-number">
          <li><a href="/return/return_start">Start page</a></li>
          <li><a href="/return/return_date">Date of birth</a></li>
          <li><a href="/return/return_name">Name</a></li>
          <li><a href="/return/return_postcode">Post code</a></li>
   <!--        <li><a href="/return/return_nhsnumber">NHS number</a></li> -->
          <li><a href="/return/return-view-yes2">Result- exemption found</a></li>
<!--           <li><a href="/return/return-view-no">Result- exemption not found</a></li> -->
          <li><a href="/return/return-view-no-match">Result- no match</a></li>
        </ol>


  </div>
</div>

</main>

{% endblock %}


